.img-header{
    width: 100rem;
    height: 10rem;
    padding:0;

}

nav{
    box-shadow: 15px 15px 15px -15px #66ff66;
    background: #3cb93c;
    text-align: center;
    
}
.menu{
    float: left;
    width: 5vw;
}
